decord==0.6.0
h5py==3.12.1
kneed==0.8.5
llava==1.7.0.dev0
matplotlib==3.7.1
moviepy==1.0.3
networkx==2.6.3
numpy==1.22.2
openai==0.28.0
opencv-python==4.10.0.84
pandas==1.5.2
Pillow==11.2.1
POT==0.9.5
requests==2.32.3
scenedetect==0.6.4
scikit_learn==1.2.0
scipy==1.15.3
seaborn==0.13.2
torch==2.0.0
transformers==4.45.2
yt_dlp==2025.5.22